.listContainer {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 40%;
}

.listContainer h3 {
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}

.ul {
  list-style: none;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  padding: 10px;
}

.li:first-child {
    margin-top: -8px;
}

.li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
  color: #444;
  word-break: break-all;
}

.filename {
  font-weight: 600;
  color: #333;
}

.id {
  color: #888;
}

.li:last-child {
  margin-bottom: -8px;
  border-bottom: none;
}

.container {
  display: flex;
  gap: 12px;
}
